@page
@model ecom_app.Pages.Cart.IndexModel
@{
}

<h2>Your Cart</h2>

@if (Model.Cart == null || !Model.Cart.CartItems.Any())
{
    <p>Your cart is empty.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Product</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Cart.CartItems)
            {
                <tr>
                    <td>@item.Product.Name</td>
                    <td>@item.Product.Price Dh</td>
                    <td>@item.Quantity</td>
                    <td>@(item.Product.Price * item.Quantity) Dh</td>
                    <td>
                        <!-- Remove Item Form -->
                        <form method="post" asp-page-handler="RemoveItem">
                            <input type="hidden" name="cartItemId" value="@item.CartItemId" />
                            <button type="submit" class="btn btn-danger">Remove <i class="fa-solid fa-trash" style="color: #ffffff;"></i></button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <p><strong>Total: </strong> @Model.Cart.CartItems.Sum(i => i.Product.Price * i.Quantity) Dh</p>

    <!-- Clear Cart Form -->
    <form method="post" asp-page-handler="ClearCart">
            <button type="submit" class="btn btn-danger">Clear Cart <i class="fa-solid fa-circle-xmark" style="color: #ffffff;"></i></button>
    </form>
    
}