@page
@model ecom_app.Pages.Search.SearchModel
@{
}
@if (TempData["successMsg"] != null)
{
    <div class="alert alert-success">
        @TempData["successMsg"]
    </div>
}

@if (TempData["errorMsg"] != null)
{
    <div class="alert alert-success">
        @TempData["errorMsg"]
    </div>
}
<div class="row">
    <div class="col-auto">
        <label>@Model.totalProducts Results</label>
    </div>
    <div class="col-auto">
        <form method="post" asp-page-handler="Sort">
            <input type="hidden" name="query" value="@Model.Query" />
            <input type="hidden" name="category" value="@Model.SelectedCategory" />
            <input type="hidden" name="minPrice" value="@Request.Query["minPrice"]" />
            <input type="hidden" name="maxPrice" value="@Request.Query["maxPrice"]" />
            <input type="hidden" name="currPage" value="@Request.Query["currPage"]" />
            <select name="sort" class="form-select" onchange="this.form.submit()">
                <option value="">Sort by</option>
                @if (Model.Sort == "price_asc")
                {
                    <option value="price_asc" selected>Price (Low to High)</option>
                }
                else
                {
                    <option value="price_asc">Price (Low to High)</option>
                }

                @if (Model.Sort == "price_desc")
                {
                    <option value="price_desc" selected>Price (High to Low)</option>
                }
                else
                {
                    <option value="price_desc">Price (High to Low)</option>
                }
            </select>
        </form>
    </div>

</div>

<div class="container mt-4">


    <div class="row">
        @if (Model.SearchResults != null && Model.SearchResults.Count>0)
        {
            @foreach (var product in Model.SearchResults)
            {
                <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                    <div class="card h-100 d-flex flex-column">

                        <div class="product-image-container">
                            <a asp-page="/Products/Details" asp-route-id="@product.ProductId">
                                <img src="@(!string.IsNullOrEmpty(product.ImageUrl) ? product.ImageUrl : Url.Content("~/assets/default_product.jpeg"))"
                                     class="img-fluid product-image"
                                     alt="@product.Name">
                            </a>
                        </div>


                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">@product.Name</h5>
                            <p class="card-text flex-grow-1">@product.Description</p>

                            <div class="d-flex justify-content-evenly align-items-center mt-auto">
                                <span class="price flex-fill text-center" style="height: 35px; line-height: 35px; font-size: 15px; font-weight: bold;">@product.Price Dh</span>

                                <form method="post" asp-page="/Cart/AddToCart" class="d-flex flex-fill align-items-center ml-2">
                                    <input type="hidden" name="productId" value="@product.ProductId" />

                                    <input class="form-control text-center" type="number" value="1" name="quantity" placeholder="Qty"
                                           aria-label="Quantity" min="1" style="height: 35px; max-width: 70px; margin: 0 1px;" />

                                    <button type="submit" class="btn btn-primary flex-fill ml-2" style="height: 35px; padding: 5px 10px; font-size: 10px; font-weight: bold; margin: 0 1px;">Add to Cart <i class="fa-solid fa-cart-plus" style="color: #ffffff;"></i></button>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="col-auto">
                <p>No results</p>

            </div>
        }
    </div>
    <nav>
        <ul class="pagination">
            @if (Model.currentPage > 1)
            {
                <li class="page-item">
                    <a class="page-link" asp-page-handler="Get" asp-route-currPage="@(Model.currentPage - 1)"
                       asp-route-query="@Model.Query"
                       asp-route-category="@Model.SelectedCategory"
                       asp-route-minPrice="@Request.Query["minPrice"]"
                       asp-route-maxPrice="@Request.Query["maxPrice"]">Previous</a>
                </li>
            }

            @for (int i = 1; i <= Model.totalPages; i++)
            {
                <li class="page-item @(Model.currentPage == i ? "active" : "")">
                    <a class="page-link" asp-page-handler="Get" asp-route-currPage="@i"
                       asp-route-query="@Model.Query"
                       asp-route-category="@Model.SelectedCategory"
                       asp-route-minPrice="@Request.Query["minPrice"]"
                       asp-route-maxPrice="@Request.Query["maxPrice"]">@i</a>
                </li>
            }

            @if (Model.currentPage < Model.totalPages)
            {
                <li class="page-item">
                    <a class="page-link" asp-page-handler="Get" asp-route-currPage="@(Model.currentPage + 1)"
                       asp-route-query="@Model.Query"
                       asp-route-category="@Model.SelectedCategory"
                       asp-route-minPrice="@Request.Query["minPrice"]"
                       asp-route-maxPrice="@Request.Query["maxPrice"]">Next</a>
                </li>
            }
        </ul>
    </nav>



</div>

<style>
    .card-body .price {
        font-size: 1.2em;
        font-weight: bold;
    }

    .card-body a.btn {
        padding: 5px 10px;
    }

    .card {
        height: 200px;
        min-height: 100%; 
    }

    .product-image-container {
        width: 100%;
        height: 300px; 
        display: flex; 
        justify-content: center;
        align-items: center;
        overflow: hidden;
        background-color: #f9f9f9; 
        border-radius: 5px;
    }



    .product-image {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
        border-radius: 5px;
    }


</style>