@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section class="product-categories my-5">
    <div class="container">
        <h2 class="text-center mb-4">Find What You Need</h2>

        <div class="scrolling-wrapper d-flex flex-row flex-nowrap overflow-auto pb-4">
            @foreach (var category in Model.categories)
            {
                <div class="category-card text-center p-3 card">
                    <h5>@category.Name</h5> 

                    <div class="row">
                        @foreach (var product in category.Products.Take(4))
                        {
                            <div class="col-6 p-1">
                                <a asp-page="/Products/Details" asp-route-id="@product.ProductId">
                                    <img src="@(!string.IsNullOrEmpty(product.ImageUrl) ? product.ImageUrl : Url.Content("~/assets/default_product.jpeg"))"
                                         class="img-fluid product-image"
                                         alt="@product.Name">
                                </a>
                            </div>
                        }
                    </div>
                    <div>
                        <form asp-page="/Search/Search" method="get">
                            <input type="hidden" name="category" value="@category.Id" />
                            <button class="btn btn-primary" type="submit">See more</button>
                        </form>
                    </div>

               </div>
            }
        </div>
    </div>
</section>

<style>
    .scrolling-wrapper {
        display: flex;
        flex-wrap: nowrap; 
        overflow-x: auto; 
        -webkit-overflow-scrolling: touch; 
    }

    .category-card {
        margin-right: 15px;
        width: 500px; 
        flex: 0 0 auto;
    }

    .product-image {
        width: 100%; 
        height: 200px; 
        object-fit: cover; 
        border-radius: 5px;
    }

</style>
